<div class="l-box">
<p>This is a tutorial site made by the sinatra web and pure css frameworks.</p>
<p>You can find the code at https://github.com/Core966/OVG</p>
<p>If you would like to share any feedback mail me at core966 [at] indamail.hu</p>
</div>
