
<div id="main-left-side" class="pure-u-1-2">
<div class="l-box">
  <p>Latest games:</p>
<% if @games.any? %>
  <div class="l-box">
  <% i = 0 %>
  <% @games[0..100].each do |game| %>
  <% if not(game.title.nil?) %>
  <legend>
    <a href="<%= "/games/#{game.id}" %>"> <%= "#{game.title}" %></a><p><%= "#{game.released_on}" %></p>
    <p><%= "#{game.description}" %></p> 
    
  </legend>
  <br />
  <% i = i + 1 %>
  <% end %>
  <% if i >= 3 %>
  <% break %>
  <% end %>  
  <% end %>  
  </div>
<% else %>
  <p>No games in the database yet!</p>
<% end %>
</div>
</div>

<div id="main-right-side" class="pure-u-1-4">
<div class="l-box">
<h4>Latest updates</h4>
<p>Lorem ipsum sed aluqam.</p>
<p>Lorem ipsum sed aluqam.</p>
</div>
</div>

