
<div id="main-left-side" class="pure-u-1-2">
<div class="l-box">
  <p>Latest games:</p>
<% if @games.any? %>
  <div class="l-box">

  <% @games[0..2].each do |game| %>
    <a href="<%= "/games/#{game.id}" %>"> <%= "#{game.title}" %></a><p><%= "#{game.released_on}" %></p>
    <br />  
    <p><%= "#{game.description}" %></p>
  <% end %>  
  </div>
<% else %>
  <p>No games in the database yet!</p>
<% end %>
</div>
</div>

<div id="main-right-side" class="pure-u-1-4">
<div class="l-box">
<h4>Latest updates</h4>
<p>Lorem ipsum sed aluqam.</p>
<p>Lorem ipsum sed aluqam.</p>
</div>
</div>

