<div class="l-box">
<div id="main-menu" class="pure-menu pure-menu-open pure-menu-horizontal pure-u-1">
    <ul>
        <li><a herf="/home">Home</a></li>
	<li><a herf="/games">Games</a></li>
	<li><a herf="/about">About</a></li>
    </ul>
</div>
</div>
