<div class="l-box">
<div id="main-menu" class="pure-menu pure-menu-open pure-menu-horizontal pure-u-1">
    <ul>
        <li><a href="/home" class="<%= current?("/home") %>">Home</a></li>
	<li><a href="/games" class="<%= current?("/games") %>">Games</a></li>
	<li><a href="/about" class="<%= current?("/about") %>">About</a></li>
    </ul>
</div>
</div>
